.container-fluid{
  width: 100%;
  padding: 0;
}

#title{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

#bienvenido {
  background-color: #222222;
  color: #E5E5E5;
  padding: 4%;
  text-align: center;
}

#datos{
  background-image: url(/img/fondo.jpg);
  background-size: 100%;
  color: #E5E5E5;
  text-align: center;
  padding: 3%;
}

