body{
  background-color: #222222;
}

.container-fluid{
  padding: 0;
  width: 100%;
}

/*PANTALLA DE INICIO DE REGISTRO*/
#logoInicio{
width: 7%;
}

@media(min-width: 500px) and (max-width: 800px) {
  #logoInicio {
      width: 12%;
  }
}
@media(min-width: 150px) and (max-width: 499px) {
  #logoInicio {
      width: 13%;
  }
}

#title{
  font-family: 'Roboto', sans-serif;
}

#bienvenido{
  background-color: #222222;
  color: #E5E5E5;
  padding-top: 5%;
  text-align: center;
}

/*EVENTOS DE FOTO*/
#canvas{
  display: none;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1em; 
  float: initial;
}

#video{
  border-radius: 50px;
  text-align: center;
  margin-bottom: 1em; 
 
}
#startbutton{
  background-color: #222222;
  color: #E5E5E5;
  border: #E5E5E5 2 px solid;
  border-radius: 4px;
  padding: 0;
  margin-bottom: 2em;
}
.fa-check-circle{
  font-size: 1.5em;
}

#datos{
  margin-top: 2%;
  background-image: url(../../img/fondocopia.png);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #E5E5E5;
  text-align: center;
  padding: 3%;
}
.form-control-sm{
  height: 1.8em;  
}
#inputName{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.8em;
  font-size: 1.4em;
}
#inputRut{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.8em;
  font-size: 1.4em;
}
#inputPatente{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.8em;
  font-size: 1.4em;
}
#optionsContainer{
  font-size: 1.4em;
}

/*PANTALLA DE DATA*/

#pantallaData{
  display: none;
}

.topBar {
  background-color: black;
  height: 2.5em;
}
#facebook{
  color: white;
  font-size: 1.5em;
  margin: 0.3em 0.3em 0.3em 1em;
}
#instagram{
  color: white;
  font-size: 1.5em;
  margin: 0.3em;
}
#web{
  color: white;
  font-size: 1.5em;
  margin-left: 0.3em;
}
.titleWhite{
  background-color: #E5E5E5;
  
}
#titles2{
  color: #222222;;
  text-align: center;
  padding: 3%;
}

#btnEnter{
  margin-top: 5%;
  background: #222222;
  color: #E5E5E5;
  border: #222222;
  float: left;
  font-size: 1.5em;
}

.fa-file-alt{
 color: #E5E5E5;
 font-size: 2em;
}
#btnEnter:hover{
  margin-top: 5%;
  background: #222222;
  color: tan;
}
.nav-link{
  background-color: #222222;
  color: #E5E5E5;
  font-weight: bold;
  text-align: center;
}
.nav-link:hover{
  background-color: white;
  color: #222222;
  
}
.nav-tabs{
  background-color: #E5E5E5;
}

.backgroundWeb{
  background-image: url(../../img/if.png);
  width: 100vw;
  height: 50vw;
}

/*tabla de visitas*/

#listaInvitados{
  display: none;
}

#invitadosContainer{
  border: none;
  background-color: white;
  color: black;
  width: 70%;
  margin-left: 5%;
  text-align: center;
}
.table{
  margin-left: 3%;
  width: 95%;
}

#searchBox{
  height: 30px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  outline: none;
  margin-left: 3%;
  margin-bottom: 4%;
  background-color: white;  
  color: grey;
  text-align: left;
}
#namesItem{
background-color: #F5DA81;
color: #222222;
text-align: center;
}

#newVisit{
  position: float;
  padding: 0;
  background-color: white;
  color: #222222;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*Tabla de empresas y personas*/

#listaEmpresas{
  display: none;
}