body{
  background-color: #222222;
}

.container-fluid{
  padding: 0;
  width: 100%;
}

/*PANTALLA DE INICIO DE REGISTRO*/
#logoInicio{
width: 7%;
}

@media(min-width: 500px) and (max-width: 800px) {
  #logoInicio {
      width: 12%;
  }
}
@media(min-width: 150px) and (max-width: 499px) {
  #logoInicio {
      width: 13%;
  }
}

#title{
  font-family: 'Roboto', sans-serif;
}

#bienvenido{
  background-color: #222222;
  color: #E5E5E5;
  padding-top: 5%;
  text-align: center;
}

#datos{
  margin-top: 2%;
  background-image: url(../../img/fondocopia.png);
  background-size: 100%;
  color: #E5E5E5;
  text-align: center;
  padding: 3%;
}
.form-control-sm{
font-family: 'Roboto', sans-serif;
margin-bottom: 0.2%;
}


/*PANTALLA DE DATA*/

#pantallaData{
  display: none;
}

.topBar {
  background-color: black;
  height: 2.5em;
}
#facebook{
  color: white;
  font-size: 1.5em;
  margin: 0.3em 0.3em 0.3em 1em;
}
#instagram{
  color: white;
  font-size: 1.5em;
  margin: 0.3em;
}
#web{
  color: white;
  font-size: 1.5em;
  margin-left: 0.3em;
}
.titleWhite{
  background-color: #E5E5E5;
  
}
#titles2{
  color: #222222;;
  text-align: center;
  padding: 3%;
}

#btnEnter{
  margin-top: 5%;
  background: #222222;
  color: #E5E5E5;
}
#btnEnter:hover{
  margin-top: 5%;
  background: #222222;
  color: tan;
}
.nav-link{
  background-color: #222222;
  color: #E5E5E5;
  font-weight: bold;
  text-align: center;
}
.nav-link:hover{
  background-color: white;
  color: #222222;
  
}
.nav-tabs{
  background-color: #E5E5E5;
}

.backgroundWeb{
  background-image: url(../../img/if.png);
  height: 50vw;
}